<div
  id="{{ section.id }}-{{ forloop.index }}"
  class="
    testimonial-item
    {% if section_settings.text_alignment == 'center' %}
      center
    {% endif %}
    {% if settings.animations_reveal_on_scroll %}
      scroll-trigger animate--slide-in
    {% endif %}
  "
  {{ block.shopify_attributes }}
  {% if settings.animations_reveal_on_scroll %}
    data-cascade
    style="--animation-order: {{ forloop.index }};"
  {% endif %}
>
  <div class="testimonial-card color-{{ section.settings.testimonial_color_scheme }}">
    {%- if testimonial.image != blank -%}
      <img
        class="testimonial-image"
        src="{{ testimonial.image | image_url: width: 400, height: 400, crop: "center" }}"
        alt="{{ testimonial.author | escape }}"
        width="200px"
        height="200px"
        loading="lazy"
      >
    {%- endif -%}

    <div class="testimonial-card-info">
      {%- if testimonial.text != blank -%}
        <div class="testimonial-text">"{{ testimonial.text }}"</div>
      {%- endif -%}
      {%- if testimonial.author != blank -%}
        <h3 class="testimonial-author">- {{ testimonial.author }}</h3>
      {%- endif -%}
    </div>
  </div>
</div>
